body {
    background-color: white;
    width: 434px;
}

table td:nth-child(1) {
    width: 64px;
    vertical-align: top;
}

table td:nth-child(1) img {
    width: 32px;
    height: 32px;
    margin: 20px 0px 0px 20px ;
}

.Buttons {
    width: 434px;
    position: unset;
}